/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
    color: red; /* Custom color */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.login-card-bg {
    border: 10px solid #ccc;  /* Adding a thin border */
    background-color: #f5f5dc;    /* Light beige  */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for hover effect */

    );
    border: none;     /* Optional: remove border if needed */
    border: none;     /* Optional: remove border if needed */
}
body.login-background {
    background: linear-gradient(to bottom,
        #f5f5dc 50%,  /* Beige color for the top half */
        #ffffff 45%,  /* White stripe */
        #ffffff 55%,  /* White stripe continues for 1% */
        #ffbc42 51%   /* Orange color for the bottom half */
    );
}
/* Ensure the navbar background is fully colored */
.navbar {
    background-color: #ffbc42 !important; /* Soft orange, with !important to override Bootstrap styles */
    margin-bottom: 0; /* Removes any default margin below the navbar */
    border: none; /* Removes any default border that might be styled differently */
}

/* Style for navigation links to contrast or complement the navbar color */
.navbar-light .navbar-nav .nav-link {
    color: #333; /* Darker text for better readability */
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff; /* White text on hover for better visibility */
}


body {
        background-color: #f5f5dc; /* Light beige */

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10
}
