{% extends "base.html" %}
{% block title %}Create Post - Chugg{% endblock %}

{% block content %}
<main class="container d-flex flex-column">
    <div class="pt-4 pb-2">
        <h1 class="display-4 text-center">Create a New Post</h1>
    </div>
  

    <!-- Form for submitting new posts -->
    <form method="post" action="{{ url_for('create_post') }}" class="shadow-sm card align-self-center border border-secondary pt-4 pb-3  d-flex flex-column align-items-center w-50 " enctype="multipart/form-data">
        <div class="mb-3 w-50">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="mb-3 d-flex flex-column w-50">
            <label for="body">Body</label>
            <textarea id="body" name="body" rows="4" required></textarea>
        </div>
        <div class="mb-3 d-flex flex-column w-50">
            <label for="comment">Optional Comment</label>
            <textarea id="comment" name="comment" rows="2"></textarea>
        </div>
        <div class="mb-3 w-50">
            <label for="tags">Tags (space-separated)</label>
            <input type="text" id="tags" name="tags">
        </div>
        <div class="mb-3 w-50">
            <label for="file" class="">Upload  File</label>
            <input type="file" name="file" id="file" >
        </div>
       
        <button type="submit" class="pl-3 pr-3 pt-2 pb-2 rounded">Post</button>
    </form>
</main>
{% endblock %}
