{% extends "base.html" %}
{% block title %}Home - Chugg {% endblock %}
<!-- app/templates/home.html
        This is the home page for Chugg.
        It shows all posts, however to create posts and see its content, must be logged in. 
-->

{% block content %}
        <!-- Only logged in users can create posts -->
        {% if current_user.is_authenticated %}
                <h1>Hi, {{ current_user.username }}!</h1>
                <h2>Welcome back to Chugg!</h2>

                <form method="post" action="{{ url_for('create_post') }}">
                        <div>
                                <label for="title">Title</label>
                                <input type="text" id="title" name="title" required>
                        </div>
                        <div>
                                <label for="body">Body</label>
                                <textarea id="body" name="body" rows="3" required></textarea>

                        </div>
                        <div>
                                <label for="comment">Comment</label>
                                <textarea id="comment" name="comment" rows="2" required></textarea>
                        </div>
                        <button type="submit">Post</button>
                </form>
        {% endif %}

        <!-- All visitors can see all posts, however must be logged in to view inside posts-->
        <div>
                <h1>Posts</h1>
                {% for post in posts %}
                <div>
                    <h2><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                    <p>{{ post.body }}</p>
                    <small>Posted on {{ moment(post.timestamp).fromNow() }}, {{ moment(post.timestamp).format('LL') }}</small>
                </div>
                {% else %}
                <p>No posts to show.</p>
                {% endfor %}
            </div>
{% endblock %}
