{% extends "base.html" %}
{% block title %}Home - Chugg {% endblock %}

{% block content %}


    <!-- Section for displaying all posts -->
    <div class="container">
        <h1 class="mb-3 ml-4 mr-3" >Recent Posts</h1>
        <!-- Loop through all posts and display each one with a link to its detailed view -->
        {% include "_postrendering.html" %}
        {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
        {% endif %}

    </div>
</main>
{% endblock %}