{% extends "base.html" %}
{% block title %}Home - Chugg {% endblock %}

{% block content %}


    <!-- Section for displaying all posts -->
    <div>
        <h1 class="mb-3">Recent Posts</h1>
        <!-- Loop through all posts and display each one with a link to its detailed view -->
        <!-- Loop through all posts and display each one with a link to its detailed view -->
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
                    <p class="card-text">{{ post.body }}</p>
                    <!-- Display timestamp with moment.js -->
                    <small class="text-muted">Posted on {{ moment(post.timestamp).fromNow() }}, {{ moment(post.timestamp).format('LL') }}</small>
                </div>
            </div>
        {% else %}
            <div class="alert alert-light" role="alert">No posts to show.</div>
        {% endfor %}

                {% if prev_url %}
                <a href="{{ prev_url }}">Newer posts</a>
                {% endif %}
                {% if next_url %}
                <a href="{{ next_url }}">Older posts</a>
                {% endif %}

    </div>
</main>
{% endblock %}
