{% extends "base.html" %}
<!-- app/templates/landing.html 
    This is the landing page for Chugg.
    It contains the context and purpose of this application -->

{% block content %}
    <h1>Welcome to Chugg</h1>
    <main>
        <section>
            <h2>About Us</h2>
            <!-- Context and purpose of Chugg -->
            <h3>This is Chugg, your new go-to place for study materials and questions.</h3>
            <p>Chugg is an web forum application that provides easy access to study materials.
                Chugg is super-friendly to use, and allows students from all over the world to connect with one another in real-time.
                By providing their course name, and title of question, students can ask question regarding assignments, tests and exams.
                Then students who are currrently doing the same course or have completed in the past can answer their questions.
                <br><br>
                Chugg promotes healthy collaboration and peer mentoring to students, by ensuring students that create posts are valid user through our lengthy user validation process,
                so no pesky spamming or incorrect posts are created.
                Unlike other applications, our <strong>ethos is free world wide education and resource sharing</strong>, therefore we are a <strong>free service</strong>. 
                We also encourage these values onto our users, to create a postive, curious and welcoming community.
                <br><br>
                Chugg is created by students, for students.
            </p>
        </section>
        <section>
            <h2>Services</h2>
            <p>Explore our resources and improve your learning experience.</p>
        </section>
    </main>
{% endblock %}
