{% extends "base.html" %}
{% block title %}Register - Chugg{% endblock %}
{% block body_class %}login-background{% endblock %}

{% block content %}
<main class="container">
    <div class="row flex-column-reverse flex-md-row">
        <!-- Column for the logo on the left third of the screen for medium and up, bottom on small -->
        <div class="col-md-4 order-md-1">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Chugg Logo" class="img-fluid">
        </div>

        <!-- Column for the registration form on the right third of the screen for medium and up, top on small -->
        <div class="col-md-4 offset-md-4 order-md-2">
            <!-- Bootstrap card containing the form with a custom gradient background -->
            <div class="card login-card-bg">
                <div class="card-body">
                    <!-- Card header with the registration title -->
                    <h1 class="card-title text-center">Register to Chugg</h1>

                    <!-- Form inside the card body -->
                    <form method="POST" class="w-100" onsubmit="return validatePassword()" novalidate>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" id="username" name="username" placeholder="Username" required class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="first_name" class="form-label">First Name</label>
                            <input type="text" id="first_name" name="first_name" placeholder="First Name" required class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input type="text" id="last_name" name="last_name" placeholder="Last Name" required class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" name="email" placeholder="Email" required class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="password" placeholder="Password" required class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="confirm-password" class="form-label">Confirm Password</label>
                            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" required class="form-control">
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main><!-- Custom Modal -->
<div id="customModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-header">Chugg says:</div>
        <div class="modal-body">
            <p id="modalMessage"></p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" onclick="document.getElementById('customModal').style.display='none'">Close</button>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
{% endblock %}
