{% extends 'base.html' %}

{% block title %}Posts tagged with "{{ tag.name }}" - Chugg{% endblock %}

{% block content %}
<div class="container">
    <div class="py-4">
        <h1 class="display-4">Posts tagged with "{{ tag.name }}"</h1>
    </div>

                {% include "_postrendering.html" %}

        <div class="pagination">
            {% if prev_url %}
                <a href="{{ prev_url }}" class="btn btn-secondary">Previous</a>
            {% endif %}
            {% if next_url %}
                <a href="{{ next_url }}" class="btn btn-secondary">Next</a>
            {% endif %}
        </div>

</div>
{% endblock %}
