{% extends "base.html" %}
{% block title %}{{user.username}} {% endblock %}

{% block content  %}
    <h1>{{ user.username }}</h1>
    <br>
    <div>
        <h2 class="mb-3">Posts</h2>
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
                    <p class="card-text">{{ post.body }}</p>
                    <!-- Display timestamp with moment.js -->
                    <small>Posted by {{ post.author.username }} <br> On {{ moment(post.timestamp).fromNow() }}, {{ moment(post.timestamp).format('LL') }}</small>
                </div>
            </div>
        {% else %}
            <div class="alert alert-light" role="alert">No posts to show.</div>
        {% endfor %}
    </div>

{% endblock %}
