{% extends "base.html" %}

{% block content  %}
    <h1>User: {{ user.username }}</h1>
    {% if user.about_me %} <p>{{ user.about_me }}</p> {% endif %}
    <hr>
    <h2>Posts</h2>
    {% for post in posts %}
        <div>
            <h2><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p>{{ post.body }}</p>
            <small>{{ post.author.username }}, {{ moment(post.timestamp).format('LL') }}</small>
            
        </div>
        {% else %}
        <p>No posts to show.</p>
    {% endfor %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
    {% endif %}

{% endblock %}